**/__pycache__/
.env
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
instance/
.webassets-cache
node_modules/
.DS_Store
.vscode/
frontend/node_modules/
backend/venv/
/backend/venv/
**/data/
**/logs/
**/scripts_venv/

